{
  "root": true,
  "globals": {
    "React": true,
    "JSX": true,
    "expect": true,
    "jsdom": true
  },
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
    "ecmaVersion": 12,
    "sourceType": "module",
    "ecmaFeatures": {
      "legacyDecorators": true,
      "jsx": true
    },
    "project": "tsconfig.json"
  },
  "extends": ["prettier", "quiltt/typescript"],
  "overrides": [
    {
      "files": ["*.test.ts", "*.test.tsx", "*.spec.ts", "*.spec.tsx"],
      "rules": {
        "import/no-extraneous-dependencies": ["off"]
      }
    }
  ]
}
