@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

:root {
  --primary: #007bff;
  --primary-50: #cfe6ff;
  --primary-100: #b8daff;
  --primary-200: #8ac2ff;
  --primary-300: #5cabff;
  --primary-400: #2e93ff;
  --primary-500: #007bff;
  --primary-600: #0065d1;
  --primary-700: #004fa3;
  --primary-800: #003975;
  --primary-900: #002247;
  --secondary: #6c757d;
  --secondary-50: #d9dcde;
  --secondary-100: #cdd1d4;
  --secondary-200: #b4babe;
  --secondary-300: #9ca3a9;
  --secondary-400: #838c94;
  --secondary-500: #6c757d;
  --secondary-600: #575e64;
  --secondary-700: #41474c;
  --secondary-800: #2c3033;
  --secondary-900: #17191b;
}

:root {
  --toastify-color-light: #fafafa;
  --toastify-color-dark: #171717;
  --toastify-color-info: #0284c7;
  --toastify-color-success: #16a34a;
  --toastify-color-warning: #eab308;
  --toastify-color-error: #dc2626;
  --toastify-color-transparent: rgba(255, 255, 255, 0.7);

  --toastify-icon-color-info: var(--toastify-color-info);
  --toastify-icon-color-success: var(--toastify-color-success);
  --toastify-icon-color-warning: var(--toastify-color-warning);
  --toastify-icon-color-error: var(--toastify-color-error);

  --toastify-toast-width: 320px;
  --toastify-toast-background: #fff;
  --toastify-toast-min-height: 64px;
  --toastify-toast-max-height: 800px;
  --toastify-font-family: sans-serif;
  --toastify-z-index: 9999;

  --toastify-text-color-light: #757575;
  --toastify-text-color-dark: #fff;

  /* Used only for colored theme */
  --toastify-text-color-info: #fff;
  --toastify-text-color-success: #fff;
  --toastify-text-color-warning: #fff;
  --toastify-text-color-error: #fff;

  --toastify-spinner-color: #616161;
  --toastify-spinner-color-empty-area: #e0e0e0;

  --toastify-color-progress-light: linear-gradient(
    to right,
    var(--primary-50),
    var(--primary-100),
    var(--primary-200),
    var(--primary-300),
    var(--primary-400),
    var(--primary-500)
  );
  --toastify-color-progress-dark: var(--primary-100);
  --toastify-color-progress-info: var(--toastify-color-info);
  --toastify-color-progress-success: var(--toastify-color-success);
  --toastify-color-progress-warning: var(--toastify-color-warning);
  --toastify-color-progress-error: var(--toastify-color-error);
}
